.boton-ver {
    border-radius: 7px;
    color: #ffffff;
    background-color: #081cd1;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
}

.boton-ver:hover {
    background-color: #313334;
    color: #ffffff;
    transition: 0.3s;
  }
  