/* HEADER */
.header {
  background-color: rgb(42, 42, 42);
  color: azure;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  .header_container {
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* LOGO */
  .header_logo {
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-left: 25px;
  }

  /* NAV */
  .header_nav {
    display: flex;
    gap: 24px;
    padding-right: 100px;
    align-items: center;

    /* NAV LINKS BOTONES */
    .header_link {
      color: white;
      font-size: 21px;
    }

    .header_link:hover {
      color: #bababa;
      transition: 0.3s;
      border-top: 2px solid rgb(86, 86, 86);
      background-color: rgb(42, 42, 42);
      border-radius: solid 10px;
      border-bottom: 2px solid rgb(86, 86, 86);
      font-size: 24px;
    }
  }
}


.buscador {
  background-color: rgb(235, 235, 235);
  color: white;
  padding-left: 1489px;
}


