* {
    margin: 0;
    box-sizing: border-box;
    
}

.page {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.menuinicio .intro {
    text-align: center;
    color:#ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

.menuinicio {
    display: flex;
    flex-direction: column;
    max-width: 35em;
    max-height: 30em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgb(42, 42, 42);
    font-weight: bold;
    border-radius: 15px;
    color:#ffffff;
    box-shadow: 0 0.188em 1.50em rgb(51, 51, 51)
}

.container-form {
    margin: 0px;
    background-color: rgba(252, 252, 252, 0.773);

}

.container-inicio{
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 100px;
    min-width: 120vh;

}


.intro {
    font-size: 25px;
    background-color: rgb(42, 42, 42);
}


.botones-form {
    background-color:rgb(42, 42, 42);
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(42, 42, 42);
    margin: 0 auto;
}

.boton-form-entrar {
    background-color:#0512c6;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border-color: #101ff8;
}

.boton-form-entrar:hover {
    background-color:#2734e0;

}

.aviso_registro {
    padding: 100px;
    text-align: center;
}

.registrar {
    color: red;
}


.olvido {
    color:white;
    text-align: right;
    font-size: 13px;
    padding: 5px;

}


.menuinicio .intro {
    background-color: rgb(42, 42, 42);
}


.form-group{
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
    height: 70px;
    border-radius: 0.25em;
}

.form-group input {
    font-size: 18px;
    background-color: white;
    height: 45px;
    width: 100%;
    border-radius: 0.25em;
    text-align: left;
    color: black;
}

.form-group input:hover {
    background-color: #c2c6fed9;
    color: #2734e0;
}

input:focus {
    outline-color: rgb(42, 42, 42);
}

.form-group label {
    padding: 0px;
}

/*
@font-face {
    font-family: "CustomFont";
    src: url("../fonts/RolexLight.woff2")
}*/