.body {
    background-position: center;
}

.menuinicio .intro {
    text-align: center;
    color:#ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

.menuinicio {
    max-width: 35em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgb(42, 42, 42);
    font-weight: bold;
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px 1px;
    color:#ffffff

}

.container-form {
    margin: 0px;
    background-color: rgba(252, 252, 252, 0.773);

}

.intro {
    font-size: 25px;
    background-color: rgb(42, 42, 42);
}


.botones-form {
    text-align: center;
    padding: 30px;
}

.boton-form-entrar {
    background-color:#0512c6;
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-color: #101ff8;
}

.boton-form-entrar:hover {
    background-color:#2734e0;

}

.aviso_registro {
    padding: 100px;
    text-align: center;
}

.registrar {
    color: red;
}


.olvido {
    color:white;
    text-align: right;
    font-size: 13px;
    padding: 5px;
}

.menuinicio .intro {
    background-color: rgb(42, 42, 42);
}